@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Neutrals */
  --color-black-200: #081e13;
  --color-black-100: #112c2e;
  --color-off-white: #fbfaf6;
  --color-white: #ffffff;

  /* Primary Greens */
  --color-green-500: #153e2a;
  --color-green-400: #30715d;
  --color-green-300: #6e9e8f;
  --color-green-200: #00b684;
  --color-green-100: #ccddc7;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v3,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Neutrals */
  --black-200: #081e13;
  --black-100: #112c2e;
  --off-white: #fbfaf6;
  --white: #ffffff;

  /* Primary Greens */
  --green-500: #153e2a;
  --green-400: #30715d;
  --green-300: #6e9e8f;
  --green-200: #00b684;
  --green-100: #ccddc7;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Texto responsivo que se ajusta al viewport */
.text-responsive {
  font-size: clamp(2rem, 8vw, 12rem);
  line-height: 1;
}

@media (width >= 200px) {
  .text-responsive {
    font-size: clamp(3rem, 5vw, 7rem);
  }
}

/* Alternativa usando diferentes breakpoints */
@media (width >= 640px) {
  .text-responsive {
    font-size: clamp(3rem, 10vw, 6rem);
  }
}

@media (width >= 1024px) {
  .text-responsive {
    font-size: clamp(5rem, 12vw, 6.5rem);
  }
}

@media (width >= 1440px) {
  .text-responsive {
    font-size: clamp(6.5rem, 5vw, 4rem);
  }
}

@media (width >= 2560px) {
  .text-responsive {
    font-size: clamp(7rem, 16vw, 10rem);
  }
}